:root {
    --hamburger-blue: rgb(045,051,128);
    --main-title: rgb(046,064,152);
}
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    font-family: "Assistant", sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}
header > .header{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-area > img{
    width: 132.5px;
    margin-top: 10px;
}
.logo-area > p{
    margin: 0;
    font-size: 10px;
    position:relative;
    top: -26px;
    right: 8px;
    font-family: "Assistant", sans-serif;
    color: #7e685a;
    font-weight: 700;
}
.hamburger > div{
    
    width: 40px;
    height: 5px;
    background-color: var(--hamburger-blue);
    border-radius: 3px;
    margin: 7px 10px;
}
.dropbox-header-nav{
    margin: 8px 12px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.25rem;
}
.dropbox-header-nav > a{
    margin-bottom: 2.5rem;
}
.dropbox-header-nav > a:last-child{
    margin-bottom: 0;
}
.dropbox-header-nav > .header-sub-nav-dropbox-link{
    margin-bottom: 0;
}
.header-sub-nav-dropbox{
    margin: 8px 0px 40px 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.2rem;
    
}
.header-sub-nav-dropbox > a{
    border-bottom: 1px dashed #aad6be;
    margin: 10px 0 0 0;
    padding: 10px;
}
#down-triangle{
    width: 0.7rem;
    margin-right: 0.4rem;
}
.main-title{
    background-color: var(--main-title);
    background: linear-gradient(155deg,#154b9c,#213b7f);
    color: white;
    width: 100vw;
    height: 130px;
    font-family: "Assistant", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-title > p{
    margin: 0;
}
.main-title > p:first-child{
    font-size: 50px;
    font-weight: 600;
}
.main-title > p:last-child{
    font-size: 66px;
    font-weight: 800;
    line-height: 0.9;
}
.hidden{
    visibility: hidden;
}
.rotate-down{
    animation: rotate-down 250ms linear 1;
}
.rotate-up{
    animation: rotate-up 250ms linear 1;
}
.reverse-rotate-down{
    animation: reverse-rotate-down 250ms linear 1;
}
.reverse-rotate-up{
    animation: reverse-rotate-up 250ms linear 1;
}
.hamburger > .stay-rotate-down{
    transform-origin: top left;

    transform: rotateZ(45deg);
}
.hamburger > .stay-rotate-up{
    margin: 10px 10px;
    transform-origin: bottom left;
    transform: rotateZ(-45deg);
}

.desktop-header-nav{
    display: none;
}
.sub-main-title{
    text-align: center;
    font-size: 1.2rem;
    color: #000;
    background-color: rgb(239,248,223);
    max-width: 1110px;
    margin: 0 auto ;
    padding-top: 10px;
}

.careers-banner > h2{
    direction: rtl;
    text-align: center;
    font-size: 2.9rem;
    margin: 30px 0 26px 0;
}
.careers-section > div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding:  1px;
    margin-bottom: 6px;
    align-items: center;
    border: 1px solid rgb(205, 205, 205);
}
.careers-section > div > div{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 8px;
}
.careers-section > div > div > p{
    margin: 0;
    direction: rtl;
}
.break-line{
    background-color: #000;
    border-radius: 2px;
    height: 30px;
    width: 4px;
}
.break-line-syber{
    background-color: #4ac694;
}
.break-line-system{
    background-color: #a3b6cc;
}
.break-line-social{
    background-color: #3a5998;
}
.break-line-qa{
    background-color: #316cff;
}
.break-line-uiux{
    background-color: #f9cf58;
}
.break-line-fullstack{
    background-color: #9da6e9;
}
.break-line-app{
    background-color: #8e8e93;
}
.break-line-embedded{
    background-color: #475f8e;
}
.career-icon{
    margin-left: 6px;
    height: 40px;
    width: 40px;
}
.arrow-left{
    width: 10px;
    height: 10px;
}
#contact-form{
    display: none;
}
#career-syber:hover,
#career-system:hover,
#career-social:hover,
#career-qa:hover,
#career-uiux:hover,
#career-fullstack:hover,
#career-app:hover,
#career-embedded:hover{
    opacity: 0.7;
}
.explain-section{
    background-color: rgb(232,239,242);
    margin-top: 80px;
    font-family: "Assistant", sans-serif;
}
.explain-section-content-area{
    display: flex;
    flex-direction: column;
    justify-content: start;
    direction: rtl;
}
.explain-section-content-area > h2{
    font-size: 2.9rem;
    text-align: center;
    margin: 8px 0 64px 0;
}
.para1{
    font-size: 1.1rem;
    margin: 17px 15px 0px 30px;
}
.para2{
    font-size: 1.1rem;
    font-weight: 700;
    margin: 17px 15px 0px 30px;
}
.para3{
    margin: 17px 15px 17px 30px;
    font-size: 1.1rem;
    color: #00f;
}
.bold{
    font-weight: 700;
}
.black-card{
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding: 14px 15px 14px 18px;
}
.white-card{
    font-size: 1.1rem;
    padding: 14px 15px 14px 20px;
}
.black-card a{
    color: white;
    font-weight: 600;
}
ol{
    padding-inline-start: 20px;
}
li >p{
    margin: 0;
}
@media screen and (min-width: 451px){
    .career-icon{
        height: 64px;
        width: 64px;
    }
    .careers-section > div > div > p{
        direction: ltr;
        text-align: center;
    }
    .break-line{
        height: 4px;
        width: 40px;
        margin-top: 4px;
    }
    .careers-section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: start;
        width: 100vw;
        flex-wrap: wrap;
    }
    .careers-section > div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding:  1px;
        margin-left: 16px;
        margin-bottom: 10px;
        align-items: center;
        border: none;
    }
    .careers-section > div >div{
        width: 130px;
        flex-direction: column;
    }
    .arrow-left{
        display: none;
    }
}
@media screen and (min-width: 925px) and (max-width: 1094px) {
    .desktop-header-nav > a{
        font-size: 1.4vw;
    }
    .desktop-header-nav > .desktop-header-sub-nav{
        width: 68vw;
    }
}
@media screen and (min-width: 925px){
    header{
        max-width: 1200px;
        margin: 0 auto;
    }
    header > .header{
        justify-content:center;
        height: 73px;
        left: 50px;
    }
    .logo-area > img{
        width: 165.5px;
    }
    .logo-area > p{
        top: -30px;
        left: 24px;
    }
    .hamburger ,
    .dropbox-header-nav{
        display: none;

    }
    .desktop-header-nav{
        position: relative;
        display: block;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        gap: 6px;
        font-size: 1.1rem;
        margin-right: 6px;
        margin-left: 100px;
    }
    .desktop-header-nav > div{
        width: 1px;
        height: 26px;
        border-left: 1.8px solid black;
    }
    .desktop-header-sub-nav{
        background-color: #21397f;
        width: 822px;
        height: 300px;
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;
        top: 24px;
        left: 0px;
        direction: rtl;
        opacity: 0.98;
        font-weight: 700;
        justify-content: space-evenly;
    }
    .desktop-header-sub-nav  a{
        margin-right: 16px;
    }
    .desktop-header-sub-nav  a{
        margin-right: 16px;
    }
    .desktop-header-sub-nav  a:hover{
        background-color: white;
        color: #21397f;
        cursor: pointer;
    }
    #desktop-header-sub-nav-link{
        position: static;
    }
    .main-title{
        height: 190px;
    }
    .main-title > p:first-child{
        font-size: 90px;
        line-height: 0.9;
    }
    .main-title > p:last-child{
        font-size: 120px;
        font-weight: 800;
    }
    .main-banner{
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        justify-content: space-between;
        width: 100vw;
        max-width: 1110px;
        height: 590px;
    }
    .careers-banner
    ,.careers-section{
        max-width: 650px;;
    }
    #contact-form{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 336px;
        height: 508px;
        background: linear-gradient(155deg,#154b9c,#213b7f);
        color: #fff;
        align-self: end;
    }
    .field{
        width: 250px;
        height: 60px;
        margin: 12px;
        background-color: #fff;
        color: #000;
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
    }
    .field >p {
        font-size: 0.9rem;
        font-weight: 600;
        width: 62px;
        margin-left: 10px;
        margin-right: 2px;
        text-align: end;
    }
    .form-title{
        font-size: 1.5em;
        width: 250px;
        height: 60px;
        position: relative;
        top:-20px;
    }
    .form-title > h3{
        text-align: right;
    }
    .contact-form-input{
        border: none;
        border-right: 2px solid rgb(045,052,128) ;
        height: 21px;
        direction: rtl;
    }
    .contact-form-input:focus{
        outline: none;
    }
    .checkbox-container{
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        margin: 10px;
        font-weight: 700;
        font-size: 13px;
        direction: rtl;
        gap: 4px;
    }
    #contact-form > a{
        color: #fff;
        font-size: 12px;
        margin: 4px;
    }
    #contact-form > button{
        font-size: 2.3em;
        font-weight: 500;
        width: 250px;
        height: 60px;
        border: 2px solid #00b8d4;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;;
    }
}
@keyframes rotate-down {
    100%{
        transform-origin: top left;
        transform: rotateZ(45deg);
    }
}
@keyframes rotate-up {
    100%{
        transform-origin: bottom left;
        transform: rotateZ(-45deg);
    }
}
@keyframes reverse-rotate-down {
    0%{
        transform-origin: top left;
        transform: rotateZ(45deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@keyframes reverse-rotate-up {
    0%{
        transform-origin: bottom left;
        transform: rotateZ(-45deg);
    }
    100%{

        transform: rotateZ(0deg);
    }
}
.display-none{
    display: none;
}